apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app-v2
  namespace: demo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: demo-app
      version: v2
  template:
    metadata:
      labels:
        app: demo-app
        version: v2
    spec:
      containers:
        - name: app
          image: hashicorp/http-echo
          args:
            - "-text=Hello from v2"
